@{
    ViewData["Title"] = "Add / Categories";
}

@model AmazonMVC.DTO.AddCategoryDTO
<div class="text-center">
    <h1 class="display-4"><b>Add New Category</b></h1>


</div>

<form asp-controller="Category" asp-action="AddCategoryForm">
    <div class="form-group">
        <label class="mt-4">Name</label>
        <input class="form-control" type="text" placeholder="Enter Name" asp-for="Name"></input>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <button class="btn btn-primary" type="submit" style="margin-top:10px">Ok</button>
</form>

