@{
    ViewBag.Title = "Cart is empty";
}

<div class="mycontainer">
    <h4>@ViewData["ErrorMessage"]</h4>

    <p>Cart is empty</p>

    <a href="/Product/DisplayProducts" class="btn btn-custom">Buy products</a>
</div>
